* {
    margin: 0;
    padding: 0;
}

$color1:rgb(255, 167, 2);
$color2: rgb(207, 40, 40);
$color3: rgb(36, 35, 35);
$color4: rgb(231, 231, 208);
$color5: rgba(0, 0, 0, 0.336);
$color6: rgba(190, 126, 53, 0.158);
$color7: rgb(201, 201, 170);

$height1: 150px;

$fuente1: Verdana,
Geneva,
Tahoma,
sans-serif;

$radius: 10px;
$border: 2px solid $color3;

$titulo320_h1: 15px;
$titulo320_h2: 25px;

body {
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgb(238, 238, 230);
}

// inicio encabezado todas las paginas iguales
.encabezado {
    background: repeating-linear-gradient(-135deg, $color1, $color2 20%, $color3 50%);
    border: $border;
    border-radius: $radius;

    .logo {
        background-image: url(./imagenes/logoelefante.png);
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .navbar-brand {
        font-size: $titulo320_h1;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: $color4;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px $color3;

        span {
            color: $color1;
        }

        border-bottom: 1px solid black;
        animation-duration: 2s;
        animation-name: hola;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

    @keyframes hola {
        0% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .navbar a:hover {
        background-color: rgba(62, 62, 63, 0.24);
    }
}

// fin encabezado todas las paginas iguales

// PAGINA PRINCIPAL
// Cuerpo de pagina principal
.cuerpo {
    .dedicamos {
        background-image: url(./imagenes/paisaje.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 10px;
        border: $border;
        border-radius: $radius;

        h3 {
            text-align: center;
            font-size: $titulo320_h2;
            color: $color3;
            text-shadow: 3px 3px 3px $color4;
        }

        p {
            color: $color4;
            text-shadow: 2px 2px 2px $color3;
            font-size: $titulo320_h1;
            text-align: justify;
            margin-left: 2%;
            margin-right: 4%;
            a{
                color: $color4;
            }
            :hover{
                color: $color2;
            }
        }
        
    }

    .ubicacion {
        background-color: $color6;
        margin-top: 10px;
        border: $border;
        border-radius: $radius;
        height: 500px;

        h2 {
            font-size: $titulo320_h2;
            text-align: center;
            font-family: $fuente1;
            text-decoration: underline;
        }

        iframe {
            width: 90%;
            height: 65%;
            margin-left: 5%;
        }

        p {
            color: $color3;
            text-shadow: 2px 2px 2px $color5;
            font-size: $titulo320_h1;
            text-align: justify;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    .encuentro {
        background-color: $color6;
        margin-top: 10px;
        border: $border;
        border-radius: $radius;

        h2 {
            font-size: $titulo320_h2;
            text-align: center;
            margin-bottom: 15px;
            font-family: $fuente1;
            text-decoration: underline;
        }

        iframe {
            margin-left: 5%;
        }

        p {
            color: $color3;
            text-shadow: 2px 2px 2px $color5;
            font-size: $titulo320_h1;
            text-align: justify;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    .video1 {
        background-color: $color6;
        margin-top: 10px;
        border: $border;
        border-radius: $radius;

        h2 {
            font-size: $titulo320_h2;
            text-align: center;
            margin-bottom: 15px;
            font-family: $fuente1;
            text-decoration: underline;
        }

        video {
            margin-left: 5%;
        }

        p {
            color: $color3;
            text-shadow: 2px 2px 2px $color5;
            font-size: $titulo320_h1;
            text-align: justify;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    .video2 {
        background-color: $color6;
        margin-top: 10px;
        border: $border;
        border-radius: $radius;

        h2 {
            font-size: $titulo320_h2;
            text-align: center;
            margin-bottom: 15px;
            font-family: $fuente1;
            text-decoration: underline;
        }

        video {
            margin-left: 5%;
        }

        p {
            color: $color3;
            text-shadow: 2px 2px 2px $color5;
            font-size: $titulo320_h1;
            text-align: justify;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    .noticias {
        background-color: $color6;
        border: $border;
        border-radius: $radius;
        margin-top: 10px;

        h2 {
            font-size: $titulo320_h2;
            text-align: center;
            font-family: $fuente1;
            text-decoration: underline;
        }

        li {
            text-align: center;
            margin-right: 10%;
            list-style: none;
            color: $color3;
            background-color: $color7;
            border: $border;
            border-radius: $radius;

            :hover {
                background-color: $color5;
            }

            a {
                text-decoration: none;
                color: $color3;
                font-size: $titulo320_h1;

            }

        }
    }

    .fallos {
        background-color: $color6;
        border: $border;
        border-radius: $radius;
        margin-top: 10px;

        h2 {
            font-size: $titulo320_h2;
            text-align: center;
            margin-bottom: 15px;
            font-family: $fuente1;
            text-decoration: underline;
        }

        section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: baseline;
            align-items: flex-start;
            padding: 10px;

            .item {
                text-align: center;
                height: 100px;
                width: 100px;
                background-color: $color7;
                margin: 5px 7% 5px 7%;
                padding-top: 25px;
                font-size: $titulo320_h1;
                text-transform: uppercase;
                border: $border;
                border-radius: $radius;

                a {
                    color: $color3;
                }
            }

            :hover {
                background-color: $color5;
            }
        }
    }
}

// fin cuerpo pagina principal
// inicio footer todas las paginas
.contacto {
    background: repeating-linear-gradient(-135deg, $color1, $color2 20%, $color3 50%);
    border: $border;
    border-radius: $radius;
    margin-top: 10px;

    footer {
        margin-top: 15px;

        text-align: center;
        color: $color4;

        h4 {
            font-size: $titulo320_h2;
            margin-bottom: 10px;
        }

        a {
            color: $color4;
            font-size: 20px;
            padding: 25px;

            :hover {
                background-color: $color5;
                color: $color3;
            }
        }

        p {
            text-align: center;
            padding: 5px;
            font-size: $titulo320_h1;
            background-color: black;
            margin-bottom: 5px;
        }
    }
}

.subir {
    height: 50px;
    width: 50px;
    font-size: 17px;
    color: white;

    background-image: url(./imagenes/subir.png);
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color1;
    text-align: center;
    border: 2px solid white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
}

// fin footer para todas las paginas 

// resolución 480 pagina index

$titulo480_h1: 18px;
$titulo480_h2: 35px;

@media only screen and (min-width: 480px) {
    .encabezado {
        .navbar-brand {
            font-size: $titulo480_h1;
        }
    }

    .cuerpo {
        .dedicamos {
            height: 300px;

            h3 {
                font-size: $titulo480_h2;
            }

            p {
                font-size: $titulo480_h1;
                text-align: center;
                margin-left: 25%;
                margin-right: 20%;
            }
        }

        .ubicacion {
            height: 400px;

            h2 {
                font-size: $titulo480_h2;
                text-align: center;
                font-family: $fuente1;
                text-decoration: underline;
            }
        }

        .encuentro {
            h2 {
                font-size: $titulo480_h2;
            }

            iframe {
                margin-left: 5%;
                height: 250px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .video1 {
            h2 {
                font-size: $titulo480_h2;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .video2 {
            h2 {
                font-size: $titulo480_h2;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .noticias {
            h2 {
                font-size: $titulo480_h2;
            }

            li {
                a {
                    font-size: $titulo480_h1;
                }
            }
        }

        .fallos {
            h2 {
                font-size: $titulo480_h2;
            }

            section {
                .item {
                    height: 150px;
                    width: 150px;
                    padding-top: 55px;
                    font-size: $titulo480_h1;
                }
            }
        }
    }
}

// fin resolución 480 pagina index
// resolución 600 pagina index

$titulo600_h1: 24px;
$titulo600_h2: 40px;

@media only screen and (min-width: 600px) {
    .encabezado {
        .navbar-brand {
            font-size: $titulo600_h1;
        }
    }

    .cuerpo {
        .dedicamos {
            height: 400px;

            h3 {
                font-size: $titulo600_h2;
            }

            p {
                font-size: $titulo600_h1;
                text-align: center;
                margin-left: 25%;
                margin-right: 20%;
            }
        }

        .ubicacion {
            height: 400px;

            h2 {
                font-size: $titulo600_h2;
            }

            p {
                font-size: $titulo600_h1;
                text-align: center;
            }
        }

        .encuentro {
            h2 {
                font-size: $titulo600_h2;
            }

            iframe {
                margin-left: 5%;
                height: 320px;
            }

            p {
                font-size: $titulo600_h1;
            }
        }

        .video1 {
            h2 {
                font-size: $titulo600_h2;
            }

            p {
                font-size: $titulo600_h1;
            }
        }

        .video2 {
            h2 {
                font-size: $titulo600_h2;
            }

            p {
                font-size: $titulo600_h1;
            }
        }

        .noticias {
            h2 {
                font-size: $titulo600_h2;
            }

            li {
                a {
                    font-size: $titulo600_h1;
                }
            }
        }

        .fallos {
            h2 {
                font-size: $titulo600_h2;
            }

            section {
                .item {
                    height: 150px;
                    width: 150px;
                    padding-top: 55px;
                    font-size: $titulo600_h1;
                }
            }
        }
    }

    .contacto {
        footer {
            h4 {
                font-size: $titulo480_h2;
                margin-bottom: 10px;
            }

            a {
                font-size: 30px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }
    }
}

// fin resolución 600 pagina index
// resolución 768 pagina index

$titulo768_h1: 30px;
$titulo768_h2: 50px;

@media only screen and (min-width: 768px) {
    .encabezado {
        .navbar-brand {
            font-size: $titulo768_h1;
        }
    }

    .cuerpo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 1fr 1fr 380px;

        .dedicamos {
            grid-column: 1/3;
            grid-row: 1/2;

            h3 {
                font-size: $titulo600_h2;
            }

            p {
                font-size: $titulo480_h1;
                text-align: justify;
                margin-left: 2%;
                margin-right: 25%;
            }
        }

        .encuentro {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 40px;
            margin-right: 20px;

            h2 {
                font-size: $titulo320_h2;
            }

            iframe {
                margin-left: 5%;
                height: 220px;


            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .video1 {
            grid-column: 2/3;
            grid-row: 2/3;
            margin-top: 40px;
            margin-left: 20px;

            h2 {
                font-size: $titulo320_h2;
                margin-bottom: 0;
            }

            video {
                height: 230px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .video2 {
            grid-column: 1/2;
            grid-row: 3/4;
            margin-right: 20px;
            margin-top: 40px;

            h2 {
                font-size: $titulo320_h2;
            }

            video {
                height: 230px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .ubicacion {
            grid-column: 2/3;
            grid-row: 3/4;
            margin-left: 20px;
            margin-top: 40px;
            height: 92%;

            h2 {
                font-size: $titulo320_h2;
            }

            iframe {
                width: 90%;
                height: 50%;
                margin-left: 5%;
                margin-top: 20px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .noticias {
            grid-column: 1/2;
            grid-row: 4/5;
            margin-right: 20px;
            margin-top: 40px;

            h2 {
                font-size: $titulo320_h2;
                margin-bottom: 70px;
            }

            li {
                a {
                    font-size: $titulo320_h1;
                }
            }
        }

        .fallos {
            grid-column: 2/3;
            grid-row: 4/5;
            margin-left: 20px;
            margin-top: 40px;

            h2 {
                font-size: $titulo320_h2;
            }

            section {
                margin-left: 2%;
                margin-right: 10%;

                .item {
                    height: 100px;
                    width: 100px;
                    padding-top: 25px;
                    font-size: $titulo320_h1;
                }
            }
        }
    }

    .contacto {
        margin-top: 40px;

        footer {

            h4 {
                font-size: $titulo480_h2;
                margin-bottom: 10px;
            }

            a {
                font-size: 40px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }
    }
}

// fin resolucion 768
// resolución 1024 pagina index

$titulo1024_h1: 50px;
$titulo1024_h2: 70px;

@media only screen and (min-width: 1024px) {
    .encabezado {
        .navbar-brand {
            font-size: $titulo1024_h1;
        }
    }

    .cuerpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 600px 1fr 400px;

        .dedicamos {
            grid-column: 1/4;
            grid-row: 1/2;
            height: 100%;

            h3 {
                font-size: $titulo1024_h2;
            }

            p {
                font-size: $titulo600_h1;
                text-align: justify;
                margin-left: 10%;
                margin-right: 35%;
            }
        }

        .encuentro {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 40px;
            margin-right: 20px;

            h2 {
                font-size: $titulo480_h2;
            }

            iframe {
                margin-left: 5%;
                height: 220px;


            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .video1 {
            grid-column: 2/3;
            grid-row: 2/3;
            margin-top: 40px;
            margin-left: 20px;
            margin-right: 20px;

            h2 {
                font-size: $titulo480_h2;
                margin-bottom: 0;
            }

            video {
                height: 230px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .video2 {
            grid-column: 3/4;
            grid-row: 2/3;
            margin-left: 20px;
            margin-right: 0;
            margin-top: 40px;

            h2 {
                font-size: $titulo480_h2;
            }

            video {
                height: 230px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .ubicacion {
            grid-column: 1/2;
            grid-row: 3/4;
            margin-right: 20px;
            margin-left: 0;
            margin-top: 40px;
            height: 92%;

            h2 {
                font-size: $titulo320_h2;
            }

            iframe {
                width: 90%;
                height: 50%;
                margin-left: 5%;
                margin-top: 20px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }

        .noticias {
            grid-column: 2/3;
            grid-row: 3/4;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 40px;

            h2 {
                font-size: $titulo320_h2;
                margin-bottom: 70px;
            }

            li {
                a {
                    font-size: $titulo320_h1;
                }
            }
        }

        .fallos {
            grid-column: 3/4;
            grid-row: 3/4;
            margin-left: 20px;
            margin-top: 40px;

            h2 {
                font-size: $titulo320_h2;
            }

            section {
                margin-left: 15%;
                margin-right: 15%;
                padding: 20px;

                .item {
                    height: 100px;
                    width: 100px;
                    padding-top: 25px;
                    font-size: $titulo320_h1;
                }
            }
        }
    }

    .contacto {
        margin-top: 40px;

        footer {

            h4 {
                font-size: $titulo480_h2;
                margin-bottom: 10px;
            }

            a {
                font-size: 40px;
            }

            p {
                font-size: $titulo480_h1;
            }
        }
    }
}

// inicio pagina consultas
$placeholder320: 16px;
$input320: 18px;
$legend320: 18px;
$anchoplace320: 90%;

.consulta {
    font-size: 20px;
}

.consultasSub {
    height: 1350px;
    background-image: url(./imagenes/animales.jpg);
    background-position: center;
    background-size: cover;
    border: $border;
    border-radius: $radius;
    margin-top: 20px;

    h2 {
        font-size: 25px;
        text-align: center;
        text-shadow: 2px 2px $color4;
    }

    legend {
        font-size: $legend320;
    }

    .formulario {
        font-size: $input320;
        text-align: left;
        color: $color4;
        text-transform: uppercase;
        margin-left: 20px;

        input {
            font-size: $placeholder320;
            transition: all 1s;
            width: $anchoplace320;
        }

        input[type=radio] {
            margin-left: 1px;
            width: 10px;
            height: 10px;
            color: black;
            border: 100px;
        }

        :focus {
            font-size: calc($input320*1.2);

        }

        ::placeholder {
            color: rgb(231, 205, 205);
        }

        input[type=date] {
            color: $color4;
        }

        input[type=date] {
            color: $color4;
        }

        #provincia {
            color: $color4;
            font-size: $placeholder320;
        }

        option {
            color: black;
        }

        textarea {
            width: $anchoplace320;
            height: 150px;
            font-size: $placeholder320;
            color: $color4;
        }

        input[type=checkbox] {
            margin-left: 1px;
            width: 30px;
        }

        input[type=submit] {
            margin-left: 1px;
            font-size: 30px;
            width: 200px;
            color: $color4;
            background-color: $color1 !important;
        }

        input[type=reset] {
            margin-left: 1px;
            font-size: 30px;
            width: 200px;
            color: $color4;
            background-color: $color1 !important;

        }

    }
}

// resolución 600 pagina consultas


@media only screen and (min-width: 600px) {

    $placeholder600: 20px;
    $input600: 24px;
    $legend600: 24px;
    $anchoplace600: 80%;

    .consulta {
        font-size: 40px;
    }

    .consultasSub {
        height: 1500px;

        h2 {
            font-size: 30px;
        }

        legend {
            font-size: $legend600;
        }

        .formulario {
            font-size: $input600;

            input {
                font-size: $placeholder600;
                width: $anchoplace600;
            }

            input[type=radio] {
                width: 15px;
                height: 15px;

            }

            :focus {
                font-size: calc($input600*1.2);

            }

            #provincia {
                font-size: $placeholder600;
            }

            textarea {
                width: $anchoplace600;
                font-size: $placeholder600;
            }
        }
    }
}

// resolución 1024 pagina consultas


@media only screen and (min-width: 1024px) {

    $placeholder1024: 24px;
    $input1024: 28px;
    $legend1024: 28px;
    $anchoplace1024: 60%;

    .consulta {
        font-size: 60px;
    }

    .consultasSub {
        height: 1600px;

        h2 {
            font-size: 30px;
        }

        legend {
            font-size: $legend1024;
        }

        .formulario {
            font-size: $input1024;

            input {
                font-size: $placeholder1024;
                width: $anchoplace1024;
            }

            input[type=radio] {
                width: 15px;
                height: 15px;

            }

            :focus {
                font-size: calc($input1024*1.2);

            }

            #provincia {
                font-size: $placeholder1024;
            }

            textarea {
                width: $anchoplace1024;
                font-size: $placeholder1024;
            }
        }
    }
}

// Inicio pagina de denuncia
.pasos {
    background-image: url(./imagenes/animales.jpg);
    background-size: cover;
    background-position: center;
    border: $border;
    border-radius: $radius;
    margin-top: 10px;

    h2 {
        font-size: 25px;
        text-align: center;
        text-shadow: 2px 2px $color4;
    }

    .pasosSub {

        margin-top: 50px;

        li {
            font-size: 20px;
            color: $color4;
            text-shadow: 5px 5px 5px #000;
            margin-top: 15px;
            text-align: justify;
            margin-right: 5%;
        }
    }
}

// resolución 600 pagina denunciar

@media only screen and (min-width: 600px) {
    .pasos {
        margin-top: 20px;

        h2 {
            font-size: 30px;
        }

        .pasosSub {

            margin-top: 50px;

            li {
                margin-left: 10%;
                margin-right: 10%;
                font-size: 25px;
            }
        }
    }
}

// resolución 1024 pagina denunciar

@media only screen and (min-width: 1024px) {
    .pasos {
        margin-top: 30px;

        h2 {
            font-size: 40px;
        }

        .pasosSub {

            margin-top: 50px;

            li {
                margin-left: 10%;
                margin-right: 10%;
                font-size: 32px;
            }
        }
    }
}

/* inicio galería */
.galeriaTitulo {
    font-size: 16px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.animales {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px;
    gap: 10px;

    .foto1 {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 250px;
        margin-bottom: 20px;

        .carousel,
        .slide,
        .carousel .carousel-inner,
        .carousel .carousel-item,
        .carousel .carousel-item img,
        .carousel .carousel-control {
            border: 0.05px solid black;
            border-radius: 10px;
            overflow: hidden;
            height: 250px;
        }
    }

    .fotos {
        margin: 2px;
        border: $border;
        background-size: cover;
        background-position: center;
        border-radius: $radius;
        transition: all 3s ease-in-out;
    }

    .foto2 {
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(./imagenes/galeria/foto2.jpg);
    }

    .foto3 {
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(./imagenes/galeria/foto3.webp);
    }

    .foto4 {
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: url(./imagenes/galeria/foto4.jpg);
        background-position: top;
    }

    .foto5 {
        grid-column: 1/2;
        grid-row: 5/6;
        background-image: url(./imagenes/galeria/foto5.jpg);
        background-position: top;
    }

    .foto6 {
        grid-column: 1/2;
        grid-row: 6/7;
        background-image: url(./imagenes/galeria/foto6.jpeg);
    }

    .foto7 {
        grid-column: 1/2;
        grid-row: 7/8;
        background-image: url(./imagenes/galeria/foto7.jpg);
    }

    .foto8 {
        grid-column: 1/2;
        grid-row: 8/9;
        background-image: url(./imagenes/galeria/foto8.jpeg);
    }

    .foto9 {
        grid-column: 1/2;
        grid-row: 9/10;
        background-image: url(./imagenes/galeria/foto9.webp);

    }

    .foto10 {
        grid-column: 1/2;
        grid-row: 10/11;
        background-image: url(./imagenes/galeria/foto10.png);
    }
}

@media only screen and (min-width: 600px) {
    .galeriaTitulo {
        font-size: 30px;
    }

    .animales {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px 250px;

        .foto1 {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .foto2 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .foto3 {
            grid-column: 2/4;
            grid-row: 1/2;
        }

        .foto4 {
            grid-column: 1/2;
            grid-row: 2/4;
        }

        .foto5 {
            grid-column: 3/4;
            grid-row: 4/6;
        }

        .foto6 {
            grid-column: 2/4;
            grid-row: 3/4;
        }

        .foto7 {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .foto8 {
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .foto9 {
            grid-column: 1/3;
            grid-row: 4/5;

        }

        .foto10 {
            grid-column: 2/3;
            grid-row: 5/6;
            background-image: url(./imagenes/galeria/foto10_1.jpg);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .galeriaTitulo {
        font-size: 45px;
    }

    .animales {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;

        .foto1 {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .foto2 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .foto2:hover {
            transform: translateX(250px) translateY(0px);
        }

        .foto3 {
            grid-column: 2/4;
            grid-row: 1/2;
        }

        .foto3:hover {
            transform: translateX(0px) translateY(125px);
        }

        .foto4 {
            grid-column: 1/2;
            grid-row: 2/4;
        }

        .foto4:hover {
            transform: skewX(-50deg);
        }

        .foto5 {
            grid-column: 4/5;
            grid-row: 2/4;
        }

        .foto5:hover {
            transform: skewY(-50deg);
        }

        .foto6 {
            grid-column: 2/4;
            grid-row: 3/4;
        }

        .foto6:hover {
            transform: translateX(0px) translateY(-125px);
        }

        .foto7 {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .foto7:hover {
            transform: translateX(-250px) translateY(0px);
        }

        .foto8 {
            grid-column: 4/5;
            grid-row: 1/2;
        }

        .foto8:hover {
            transform: rotate(-360deg);
        }

        .foto9 {
            grid-column: 1/3;
            grid-row: 4/5;
        }

        .foto9:hover {
            transform: rotatex(180deg);
        }

        .foto10 {
            grid-column: 3/5;
            grid-row: 4/5;
            background-image: url(./imagenes/galeria/foto10.png);
        }

        .foto10:hover {
            transform: rotateY(180deg);
        }
    }
}

// pagina de integrantes
$heightcaras: 300px;
.caras{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;


    .fotos{
        background-size: cover;
        background-position: center;
        height: 300px;
        border: $border;
        border-radius: $radius;
        margin-top: 5px;
        transition: all 0.5s ease-in-out;
        padding-top: 35%;
        h3{
            visibility: hidden;
            text-align: center;
            font-size: 20px;
        }
        h4{
            visibility: hidden;
            text-align: center;
            font-size: 20px;
        }
        h5{
            visibility: hidden;
            text-align: center;
            font-size: 20px;
        }
        :hover{
            background-image: hidden;
        }
    }
    :hover{
        transform: scale(1.1);
        animation-duration: 2s;

    }
    :hover h3{
        visibility: visible;
        color: $color1;
    }
    :hover h4{
        visibility: visible;
        color: $color2;
    }
    :hover h5{
        visibility: visible;
        color: $color3;
    }
    .foto1{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 20px;
        background-image: url(./imagenes/caras/foto1.jpeg); 
        background-position: top;   
    }
    .foto2{

    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(./imagenes/caras/foto2.jpeg);
    }
    .foto3{
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: url(./imagenes/caras/foto3.jpeg);
    }
    .foto4{
        grid-column: 1/2;
        grid-row: 5/6;
        background-image: url(./imagenes/caras/foto4.jpeg);
        background-position: top;
    }
    .foto5{
        grid-column: 1/2;
        grid-row: 6/7;
        background-image: url(./imagenes/caras/foto5.jpeg);
        background-position: top;
    }
    .foto6{
        grid-column: 1/2;
        grid-row: 7/8;
        background-image: url(./imagenes/caras/foto6.jpeg);
        background-position: top;
    }
    .foto7{
        grid-column: 1/2;
        grid-row: 8/9;
        background-image: url(./imagenes/caras/foto7.jpeg);
        background-position: top;
    }
    .foto8{
        grid-column: 1/2;
        grid-row: 9/10;
        background-image: url(./imagenes/caras/foto8.jpeg);
        background-position: top;
    }
    .foto9{
        grid-column: 1/2;
        grid-row: 10/11;
        background-image: url(./imagenes/caras/foto9.jpeg);
    }
    .foto10{
        display:block!important;
        background-image: url(./imagenes/caras/fotogrupal.jpeg);
        grid-column: 1/2;
        grid-row: 1/2;
        height: 98%;
        height: 150px;
        padding-top: 5%;
        h3{
            color: $color3;
            text-decoration: underline;
        }
        }
        .foto10:hover{
            transform: scale(1);
        }
    
}
@media only screen and (min-width: 480px){
    .caras{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        .fotos{
            height: 350px;
        }
        .foto1{
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 20px; 
        }
        .foto2{
            grid-column: 1/2;
            grid-row: 3/4;

        }
        .foto3{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .foto4{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .foto5{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .foto6{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .foto7{
            grid-column: 1/2;
            grid-row: 8/9;
        }
        .foto8{
            grid-column: 1/2;
            grid-row: 9/10;
        }
        .foto9{
            grid-column: 1/2;
            grid-row: 10/11;
        }
        .foto10{
            display:block!important;
            grid-column: 1/2;
            grid-row: 1/2;
            height: 98%;
            height: 200px;
            h3{
                color: $color3;
                text-decoration: underline;
            }
            }
            .foto10:hover{
                transform: scale(1);
            }
    }
}
@media only screen and (min-width: 600px){
    .caras{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 1fr 1fr 1fr;
        .fotos{
            height: 300px;
            margin: 5px;
        }
        .foto1{
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 5px;
        }
        .foto2{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .foto3{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .foto4{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .foto5{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .foto6{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .foto7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .foto8{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .foto9{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .foto10{
            display:block!important;
            grid-column: 1/4;
            grid-row: 1/2;
            height: 98%;
            height: 290px;

            h3{
                color: $color3;
                text-decoration: underline;
            }
            }
            .foto10:hover{
                transform: scale(1);
            }
    }
}
@media only screen and (min-width: 1024px){
    .caras{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .fotos{
            height: 200px;
            margin: 5px;
        }
        .foto1{
            grid-column: 1/2;
            grid-row: 1/2;
            margin-top: 10px;


        }
        .foto2{
            grid-column: 1/2;
            grid-row: 2/3;

        }
        .foto3{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .foto4{

            grid-column: 1/2;
            grid-row: 4/5;
        }
        .foto5{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .foto6{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .foto7{
            grid-column: 4/5;
            grid-row: 4/5;
        }
        .foto8{
            grid-column: 5/6;
            grid-row: 4/5;
        }
        .foto9{
            grid-column: 6/7;
            grid-row: 4/5;
        }
        .foto10{
            display:block!important;
            grid-column: 2/7;
            grid-row: 1/4;
            height: 98%;
            margin-top: 10px;

            h3{
                color: $color3;
                text-decoration: underline;
            }
            }
            .foto10:hover{
                transform: scale(1);
            }
    }
}

// pagina a que nos dedicamos
.somos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    img{
        height: 200px;
        border: $border;
        border-radius: $radius;
        display: block;
        margin: auto;
    }

}
@media only screen and (min-width: 480px){
    .somos{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 300px 1fr;
        flex-wrap: wrap;
        justify-content: center;
        img{
            height: 300px;
            border: $border;
            border-radius: $radius;
            display: block;
            margin: auto;
        }    
    }
}
@media only screen and (min-width: 600px){
    .somos{
        display: grid;
        grid-template-columns:  1fr 3fr;
        grid-template-rows: 300px 1fr;
        flex-wrap: wrap;
        justify-content: center;
        img{
            height: 300px;
            border: $border;
            border-radius: $radius;
            display: block;
            margin: auto;
        }    
    }
}

// pagina legislacion
    .tabla{
        margin-top: 20px;
        border: $border;
        border-radius: $radius;
        padding: 10px;
        background-image: url(./imagenes/caras/beige.jpg);

        th{
            font-size: 16px;
            text-align: center;
            color: rgb(63, 161, 161);
            border: $border;
            margin: 5px;
            padding: 10px;

        }
        td{
            font-size: 15px;
            text-align: center;
            color: $color3;
            border: $border;
            border-radius: $radius;
            margin: 5px;
        }
        td a{
            text-transform: uppercase;
            color: blueviolet;
        }
        td a:hover{
            color: #000;
        }
    }
    @media only screen and (min-width: 480px){
    .tabla{
        th{
            font-size: 20px;
        }
        td{
            font-size: 20px;
        }
    }
}
@media only screen and (min-width: 768px){
    .tabla{
        th{
            font-size: 35px;
        }
        td{
            font-size: 28px;
        }
    }
}
